/* 
----------------
COMMON RULES 
----------------
*/

:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --green: #2bb1ba;
  --pink: #c2175b;
  --lightPink: #fcced2;
  --lightGrey: #f5f6f7;
  --grey: #cccbcb;
  --darkGrey: #999999;
  --fondGrey: #eaedee;

  /* Fonts */
  --font: "Font", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
}

/* 
-------------
HEADER
-------------
*/

.header {
  height: 110px;
  display: flex;
  width: 100%;
}

.logo {
  width: 120px;
  height: 100px;
  object-fit: contain;
}

.searchIcon {
  color: var(--darkGrey);
  size: 20px;
  margin-right: -100px;
}

input {
  background: var(--lightGrey);
  width: 550px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 20px;
}

.buttonSignUp,
.buttonLogin,
.buttonPublish,
.buttonDeconnect {
  width: 113px;
  height: 28px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonSignUp,
.buttonLogin {
  color: var(--green);
  border: 1px solid var(--green);
  font-size: 13px;
}

.buttonPublish {
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--white);
  font-size: 12px;
}

.buttonDeconnect {
  border: 1px solid var(--pink);
  background-color: var(--pink);
  color: var(--white);
  font-size: 13px;
}

/* 
-----------
HERO
-----------
*/

.hero {
  height: 456px;
  background-image: url("./assets/img/hero1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.heroBloc {
  width: 410px;
  height: 270px;
  background-color: var(--white);
  margin-top: 74px;
  padding: 45px 27px;
  border: 2px solid var(--lightGrey);
  border-radius: 3px;
}

.buttonHero {
  width: 187px;
  height: 45px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--white);
  font-size: 15px;
  border: 1px solid var(--green);
  cursor: pointer;
}

/* 
----------
HOME PAGE
----------
*/

.carroussel {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

.itemImg {
  /* height: 200px;
  width: 100px;
  object-fit: cover; */
}

/*
-----------------
SIGNUP & LOGIN
-----------------
*/

h3 {
  text-align: center;
}
.signUp,
.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
}

.signUp input,
.login input {
  width: 320px;
  background-color: var(--white);
  color: var(--grey);
  padding: 10px 10px;
  border-bottom: 1px solid var(--lightPink);
  margin-bottom: 15px;
  font-size: 20px;
}

.signUp .button,
.login .button {
  background-color: var(--green);
  border-bottom: none;
  color: var(--white);
  width: 173px;
  height: 45px;
  margin: 15px;
  cursor: pointer;
}

/* 
-----------
FOOTER
-----------
*/

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 15px;
  color: var(--darkGrey);
}

.footer a {
  text-decoration: none;
  color: var(--darkGrey);
}
